.spinner__container {
  position: relative;
  margin: auto;
}

.spinner__sector {
  position: absolute;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  border: solid transparent;
  mix-blend-mode: multiply;
}

.spinner__sector_1 {
  animation: spin 1s ease infinite;
}

.spinner__sector_2 {
  animation: spin 2s ease-in infinite;
}

.spinner__sector_3 {
  animation: spin 1.5s ease-out infinite;
}

@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}
